
:root{--color1:#6B9AC4;
    --accent-color1:#332385;
    --color2 :#e9c155;
    --accent-color2:#6c9c64;
    --text-decoration-color:#dee5e5;
    --background-color:#DEE5E5;
    --highlight1:rgba(33,23,85,0.5);
    --highlight2:rgba(108,156,100,0.35);
}

html {
    width: 100%;
    background-color:var(--background-color)
}

p {
    color:var(--accent-color1);
    font-size: large;
    font-weight: 600;
}

header { 
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    border: 3px solid var(--accent-color1);
    max-width: 65%;
    text-decoration: none;
    background-color:var(--color2);
}

header a{
    font-size: x-large;
    padding: 15px ;
    text-decoration: none;
    border:2px solid var(--accent-color1);
    background-color: var(--background-color);
    font-style: italic;
    font-weight: 200;
}

nav{
    display:block;
    text-align: center;
}

.hero {
    color:var(--color1);
    position:relative;
    display:block;
    margin-left:35%;
}

h1 {
    font-size: 3rem;
    color:var(--color2);
    position:absolute;
    margin-left:9%
}

article{
    position:absolute;
    width:30rem;
    height:auto;
    top:125px;
    bottom:125px;
    padding:15px;
    background-color: var(--highlight1);
    margin-left:3.5%;
    display: grid;
    justify-content: center;
    align-items: center;
}

article p{
    color:#e9c155;
    align-items: flex-end;
    font-size: medium;

}

article img{
    display:flex;
    position:absolute;
    width:10rem;
    align-items: flex-start;
}

h2 {
    font-size: 3rem;
    color:var(--accent-color1);
    text-align: center;
    font-weight:bold;
    border-bottom:2px solid var(--accent-color2)

}

section {
    color:var(--color1);
    text-align: left;
    background-color: var(--highlight2);
    margin-left: 10%;
    margin-right:10%;
    margin-top: 5%;
    padding:1%
}

section img{
    display:flex;
    position:absolute;
    width:10rem;
    align-items: flex-start;
}

footer{
    color:var(--color1);
    text-align: left;
}

footer img{
    width:50px;
}
